.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 5px;
}

.row {
  display: contents;
}

.cell {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

th,
td {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
  width: 35px;
  height: 35px;
  font-size: 16px;
}

th {
  background-color: #f2f2f2;
}

.inputCell {
  border: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  font-size: 12px;
}

.tableCell {
  width: 45px;
  height: 30px;
  padding: 0;
}

.inputCell:focus {
  outline: none;
  border: 1px solid #ccc;
}

.rowTitle {
  background-color: #f0f0f0;
  font-weight: bold;
  font-size: 16px;
}

.correctCell {
  background-color: lightgreen;
}

.incorrectCell {
  background-color: lightcoral;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.buttons button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.buttons button:hover {
  background-color: #45a049;
}